__pycache__/
*.py[cod]
*.so
*.out
*.log
*.lock
*.pid
*.swp
*.swo
*.DS_Store
*.bak

.ipynb_checkpoints/
*.ipynb_checkpoints
*.~ipynb

.env
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
*.dist-info/
*.whl

/venv/
/build/
/dist/
/site-packages/
/__pycache__/

.jupyter/
.history
.cache/
.logs/
*.sqlite
*.db

checkpoints/
*.ckpt
*.h5
*.tflite
*.onnx
*.pth
*.pt
*.model
*.weights

~/.cache/huggingface/
hf_cache/
huggingface_cache/
transformers_cache/

.vessl/
.vessl_log/
.vessl_tmp/

